{% extends "terminator_base_nav.html" %}
{% block meta %} {% endblock %}
{% block title %}Terminator Server APIs Demo {% endblock %}
{% block body-except-nav %}
    <h1>Terminator Project Server APIs Demo - Get Data</h1>
    <p>The default getting data url is <strong>/api/get</strong>,
        you should include <a href="https://jquery.com">jQuery</a> library for ajax.</p>
    <p>
        The json object must contains two field: <strong>type</strong> and <strong>url</strong>,
        <strong>type</strong> string must be one of two types: 'domain' or 'page'.<br>
        'domain' request returns json object contains 'pages' array, which include all pages(full requests) this domain leaks to.<br>
        Similarly, 'page' request's result contains 'leakTo' array, which include all destination URL.

    </p>
    <p>Try the sample code blow.</p>
    <script>
        console.log = function (message) {
            var result = document.getElementById('result');
            if (typeof message == 'object') {
                result.innerHTML += (JSON && JSON.stringify ? JSON.stringify(message) : message) + '\n';
            } else {
                result.innerHTML += message + '\n';
            }
        }
        function executeDemo() {
            var el = document.getElementById('input');
            el && eval(el.value);
        }
    </script>
    <form>
    <textarea id="input" class="form-control" rows="20" cols="100">
var json_query_obj = {
     type: 'domain',
     url: 'baidu.com'
};

$.ajax({
    url: 'http://terminator.dpkg.me/api/get',
    type: 'POST',
    contentType: 'application/json; charset=utf-8',
    data: JSON.stringify(json_query_obj),
    dataType: 'json',
    success: function(result) {
        console.log(result);
    },
    error: function(result){
        console.log(result);
    }
});
    </textarea>
    <br>
    <input type = "button" value = "Send Request" onclick = "executeDemo()">
    <p></p>
    <p>Result:</p>
    <textarea id="result" class="form-control" rows="5" cols="100"></textarea>
    </form>
    <p></p>
    <p></p>

{% endblock %}
