{% extends "html_base_with_bootstrap.html" %}
{% block meta %} {% endblock %}
{% block title %}Terminator{% endblock %}
{% block body %}
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Skynet</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/t800">Console</a>
                    </li>
                    <li>
                        <a href="/demo">Server APIs</a>
                    </li>
                    <li>
                        <a href="/static/placeholder.html">Chrome Extension</a>
                    </li>
                    <li>
                        <a href="https://bitbucket.org/terminators_123/terminator/src">Source Code</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container" style="padding-top: 65px">
    {% block body-except-nav %} {% endblock %}
    </div>
{% endblock %}
