{% extends "html_base.html" %}
{% block title %}Test Data{% endblock %}
{% block body %}
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        var json_query_obj = {
            url: 'https://abaidu.com',
            isLeak: true,
            isAccept: true,
            leakTo: [
                {
                    url: 'https://cnbeta.com',
                    type: 1
                },
                {
                    url: 'http://youku.com',
                    type: 2
                }
            ]
        }

        $.ajax({
            url: 'http://127.0.0.1:8000/api/put',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(json_query_obj),
            dataType: 'json',

            success: function(result) {
                console.log(result);
            },
            error: function(result){
                console.log(result);
            }
});

    </script>
{% endblock %}